@model IEnumerable<CarComparison.Areas.Admin.Models.Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.day_comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.count_like)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.count_dislike)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.text_comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Article.id_category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment2.id_reply_comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_.name_user)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.day_comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.count_like)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.count_dislike)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.text_comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Article.id_category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment2.id_reply_comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_.name_user)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_comment }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_comment }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_comment })
        </td>
    </tr>
}

</table>
