@model CarComparison.Areas.Admin.Models.cascadingmodel
 

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section navbar{
    <li><a href="/Client/Index">Trang chủ</a></li>
    <li class="active"><a href="/Client/Comparing">So sánh Xe</a></li>
    <li><a href="/Client/Review">Bài đánh giá</a></li>
    <li><a href="/Client/Video">Video</a></li>
    <li><a href="/Client/Team">Team</a></li>

    <li><a href="/Client/Contact">Liên hệ</a></li>

}

<section>
    <div class="container">
        <div class="text-center">
            <h1>So sánh xe </h1>

            <br>

            <p class="lead">Giúp bạn so sánh và tìm được chiếc xe mong muốn.</p>
        </div>
    </div>
</section>

<section class="section-background">
    <div class="left-back" style="float:left; width:300px;height:560px;">

        <div><h4 style="width:457px;">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;   THÔNG SỐ SO SÁNH</h4></div>
        <hr style="width:50%;text-align:left;margin-left:0" />

        <ul>
            <li>
                <a href="#tong-quan"><h4>&nbsp; &nbsp; &nbsp;Tổng quan</h4></a>
            </li>
            <li>
                <a href="#kich-thuoc"><h4>&nbsp; &nbsp; &nbsp;Kích thước</h4></a>
            </li>
            <li>
                <a href="#dong-co"><h4>&nbsp; &nbsp; &nbsp;Động cơ</h4></a>
            </li>
            <li>
                <a href="#van-hanh"><h4>&nbsp; &nbsp; &nbsp;Vận hành</h4></a>
            </li>
            <li>
                <a href="#tieu-thu-nhien-lieu"><h4>&nbsp; &nbsp; &nbsp;Tiêu thụ nhiên liệu</h4></a>
            </li>
            <li>
                <a href="#noi-that"><h4>&nbsp; &nbsp; &nbsp;Nội thất</h4></a>
            </li>
            <li>
                <a href="#ngoai-that"><h4>&nbsp; &nbsp; &nbsp;Ngoại thất</h4></a>
            </li>
            <li>
                <a href="#antoan"><h4>&nbsp; &nbsp; &nbsp;An toàn</h4></a>
            </li>
        </ul>
    </div>






    <div class="container">
        <a href="" id="reset-all" class="section-btn btn btn-primary " style="float:right">Reset All</a>
        <div class="row">

            <div class="col-lg-3 col-xs-12">
                <div class="form">


                    <form action="#">
                        <div class="car-1">


                            <div class="form-group">
                                <label>Hãng xe</label>
                                @if (ViewBag.AutoList != null)
                                {
                                    @Html.DropDownListFor(model => model.automakerId, ViewBag.AutoList as SelectList, "--Select--", new { @class = "form-control" })
                                }


                            </div>

                            <div class="form-group">
                                <label>Dòng xe</label>
                                @Html.DropDownListFor(model => model.modelId, new SelectList(" "), "--Select--", new { @class = "form-control" })

                            </div>

                            <div class="form-group">
                                <label>Phiên bản</label>
                                @Html.DropDownListFor(model => model.versionId, new SelectList(" "), "--Select--", new { @class = "form-control" })


                            </div>
                        </div>
                        <br />
                        <hr />


                        <div class="detail-car-1" style="display:none">
                            <button id="btn-1" class="btn-close"><i class="fa fa-close"></i></button>

                            <section class="img-car-boder" style="padding:unset;">


                                <div id="car-head" style="font-weight:bold; font-size: 15pt;"></div>
                                <div id="charge" style="color:brown;font-size: 15pt; "></div>
                                <div class="border-img">
                                    <img id="image-detail1" style=" width:100%;" />
                                </div>




                            </section>
                            <section id="kich-thuoc" style="padding:unset;">
                                <h5 style=" font-size: 18pt;">Kích thước</h5>
                                <hr style="color:black;" />
                                <dl>
                                    <dt>Tổng thể</dt>
                                    <dd id="over"></dd>
                                </dl>

                                <dl>
                                    <dt>Chiều Dài Cơ Sở</dt>
                                    <dd id="length"></dd>
                                </dl>

                                <dl>
                                    <dt> Mâm Xe</dt>
                                    <dd id="wheels"></dd>
                                </dl>

                                <dl>
                                    <dt>Thông Số Lốp</dt>
                                    <dd id="tireparameters"></dd>
                                </dl>

                                <dl>
                                    <dt>Trọng Lượng</dt>
                                    <dd id="weight"></dd>
                                </dl>
                            </section>
                            <section id="dong-co" style="padding:unset;">
                                <h5 style=" font-size: 18pt;">Động cơ</h5>
                                <hr style="color:black;" />
                                <dl>
                                    <dt>Dung Tích Động Cơ</dt>
                                    <dd id="capacity"></dd>
                                </dl>

                                <dl>
                                    <dt>Mã Lực</dt>
                                    <dd id="horsepower"></dd>
                                </dl>


                                <dl>
                                    <dt>Momen Xoắn</dt>
                                    <dd id="torque"></dd>
                                </dl>
                            </section>
                            <section id="van-hanh" style="padding:unset;">
                                <h5 style=" font-size: 18pt;">Vận hành</h5>
                                <hr style="color:black;" />
                                <dl>
                                    <dt> Hộp Số</dt>
                                    <dd id="gear"></dd>
                                </dl>
                                <dl>
                                    <dt>Hệ Dẫn Động</dt>
                                    <dd id="drivetype"></dd>
                                </dl>

                                <dl>
                                    <dt>Hệ Thống Thắng Trước</dt>
                                    <dd id="frontbrakesystem"></dd>
                                </dl>
                                <dl>
                                    <dt>Hệ Thống Thắng Sau</dt>
                                    <dd id="rearbrakesystem"></dd>
                                </dl>

                                <dl>
                                    <dt>Tốc Độ Tối Đa</dt>
                                    <dd id="maximumspeed"></dd>
                                </dl>

                                <dl>
                                    <dt>Tăng tốc từ 0-100km/h</dt>
                                    <dd id="accelerationtime"></dd>
                                </dl>
                            </section>
                            <section id="tieu-thu-nhien-lieu" style="padding:unset;">
                                <h5 style=" font-size: 18pt;">Tiêu thụ nhiên liệu</h5>
                                <hr style="color:black;" />
                                <dl>
                                    <dt>Dung Tích Bình Xăng</dt>
                                    <dd id="capacitytank"></dd>
                                </dl>
                            </section>
                            <section id="noi-that" style="padding:unset;">
                                <h5 style=" font-size: 18pt;">Nội thất</h5>
                                <hr style="color:black;" />
                                <dl>
                                    <dt>Số Ghế</dt>
                                    <dd id="numberseat"></dd>
                                </dl>

                                <dl>
                                    <dt>Loại Ghế</dt>
                                    <dd id="seat"></dd>
                                </dl>

                                <dl>
                                    <dt>Hệ Thống Điều Hòa</dt>
                                    <dd id="airconditioner"></dd>
                                </dl>

                                <dl>
                                    <dt>Cửa Sổ Trời</dt>
                                    <dd id="sunroof"></dd>
                                </dl>
                            </section>




                        </div>

                    </form>
                </div>
            </div>

            <div class="col-lg-3 col-xs-12">
                <div class="form">


                    <form action="#">
                        <div class="car-2">
                            <div class="form-group">
                                <label>Hãng xe</label>
                                @if (ViewBag.AutoList != null)
                                {
                                    @Html.DropDownListFor(model => model.automakerId1, ViewBag.AutoList as SelectList, "--Select--", new { @class = "form-control" })
                                }


                            </div>

                            <div class="form-group">
                                <label>Dòng xe</label>
                                @Html.DropDownListFor(model => model.modelId1, new SelectList(" "), "--Select--", new { @class = "form-control" })

                            </div>

                            <div class="form-group">
                                <label>Phiên bản</label>
                                @Html.DropDownListFor(model => model.versionId1, new SelectList(" "), "--Select--", new { @class = "form-control" })


                            </div>


                        </div>

                        <br />
                        <hr />
                        <div class="detail-car-2" style="display:none">

                            <button id="btn-2" class="btn-close"><i class="fa fa-close"></i></button>
                            <section class="img-car-boder" style="padding:unset;">


                                <div id="car-head1" style="font-weight:bold; font-size: 15pt;"></div>
                                <div id="charge1" style="color:brown;font-size: 15pt; "></div>
                                <div class="border-img1">
                                    <img id="image-detail2" style=" width:100%;" />
                                </div>




                            </section>
                            <section id="kich-thuoc1" style="padding:unset;">
                                <h5 style=" font-size: 18pt;">&nbsp;   </h5>
                                <hr style="color:black;" />
                                <dl>
                                    <dt>Tổng thể</dt>
                                    <dd id="over1"></dd>
                                </dl>

                                <dl>
                                    <dt>Chiều Dài Cơ Sở</dt>
                                    <dd id="length1"></dd>
                                </dl>

                                <dl>
                                    <dt> Mâm Xe</dt>
                                    <dd id="wheels1"></dd>
                                </dl>

                                <dl>
                                    <dt>Thông Số Lốp</dt>
                                    <dd id="tireparameters1"></dd>
                                </dl>

                                <dl>
                                    <dt>Trọng Lượng</dt>
                                    <dd id="weight1"></dd>
                                </dl>
                            </section>
                            <section id="dong-co1" style="padding:unset;">
                                <h5 style=" font-size: 18pt;">&nbsp;</h5>
                                <hr style="color:black;" />
                                <dl>
                                    <dt>Dung Tích Động Cơ</dt>
                                    <dd id="capacity1"></dd>
                                </dl>

                                <dl>
                                    <dt>Mã Lực</dt>
                                    <dd id="horsepower1"></dd>
                                </dl>


                                <dl>
                                    <dt>Momen Xoắn</dt>
                                    <dd id="torque1"></dd>
                                </dl>
                            </section>
                            <section id="van-hanh1" style="padding:unset;">
                                <h5 style=" font-size: 18pt;">&nbsp;</h5>
                                <hr style="color:black;" />
                                <dl>
                                    <dt> Hộp Số</dt>
                                    <dd id="gear1"></dd>
                                </dl>
                                <dl>
                                    <dt>Hệ Dẫn Động</dt>
                                    <dd id="drivetype1"></dd>
                                </dl>

                                <dl>
                                    <dt>Hệ Thống Thắng Trước</dt>
                                    <dd id="frontbrakesystem1"></dd>
                                </dl>
                                <dl>
                                    <dt>Hệ Thống Thắng Sau</dt>
                                    <dd id="rearbrakesystem1"></dd>
                                </dl>

                                <dl>
                                    <dt>Tốc Độ Tối Đa</dt>
                                    <dd id="maximumspeed1"></dd>
                                </dl>

                                <dl>
                                    <dt>Tăng tốc từ 0-100km/h</dt>
                                    <dd id="accelerationtime1"></dd>
                                </dl>
                            </section>
                            <section id="tieu-thu-nhien-lieu1" style="padding:unset;">
                                <h5 style=" font-size: 18pt;">&nbsp;</h5>
                                <hr style="color:black;" />
                                <dl>
                                    <dt>Dung Tích Bình Xăng</dt>
                                    <dd id="capacitytank1"></dd>
                                </dl>
                            </section>
                            <section id="noi-that1" style="padding:unset;">
                                <h5 style=" font-size: 18pt;">&nbsp;</h5>
                                <hr style="color:black;" />
                                <dl>
                                    <dt>Số Ghế</dt>
                                    <dd id="numberseat1"></dd>
                                </dl>

                                <dl>
                                    <dt>Loại Ghế</dt>
                                    <dd id="seat1"></dd>
                                </dl>

                                <dl>
                                    <dt>Hệ Thống Điều Hòa</dt>
                                    <dd id="airconditioner1"></dd>
                                </dl>

                                <dl>
                                    <dt>Cửa Sổ Trời</dt>
                                    <dd id="sunroof1"></dd>
                                </dl>
                            </section>

                        </div>



                    </form>
                </div>
            </div>

            <div class="col-lg-3 col-xs-12">
                <div class="form">


                    <form action="#">
                        <div class="car-3">
                            <div class="form-group">
                                <label>Hãng xe</label>
                                @if (ViewBag.AutoList != null)
                                {
                                    @Html.DropDownListFor(model => model.automakerId2, ViewBag.AutoList as SelectList, "--Select--", new { @class = "form-control" })
                                }


                            </div>

                            <div class="form-group">
                                <label>Dòng xe</label>
                                @Html.DropDownListFor(model => model.modelId2, new SelectList(" "), "--Select--", new { @class = "form-control" })

                            </div>

                            <div class="form-group">
                                <label>Phiên bản</label>
                                @Html.DropDownListFor(model => model.versionId2, new SelectList(" "), "--Select--", new { @class = "form-control" })


                            </div>








                        </div>

                        <br />
                        <hr />
                        <div class="detail-car-3" style="display:none">
                            <button id="btn-3" class="btn-close"><i class="fa fa-close"></i></button>


                            <section class="img-car-boder" style="padding:unset;">


                                <div id="car-head2" style="font-weight:bold; font-size: 15pt;"></div>
                                <div id="charge2" style="color:brown;font-size: 15pt; "></div>
                                <div class="border-img">
                                    <img id="image-detail3" style=" width:100%;" />
                                </div>




                            </section>
                            <section style="padding:unset;">
                                <h5 style=" font-size: 18pt;">&nbsp;   </h5>
                                <hr style="color:black;" />
                                <dl>
                                    <dt>Tổng thể</dt>
                                    <dd id="over2"></dd>
                                </dl>

                                <dl>
                                    <dt>Chiều Dài Cơ Sở</dt>
                                    <dd id="length2"></dd>
                                </dl>

                                <dl>
                                    <dt> Mâm Xe</dt>
                                    <dd id="wheels2"></dd>
                                </dl>

                                <dl>
                                    <dt>Thông Số Lốp</dt>
                                    <dd id="tireparameters2"></dd>
                                </dl>

                                <dl>
                                    <dt>Trọng Lượng</dt>
                                    <dd id="weight2"></dd>
                                </dl>
                            </section>
                            <section style="padding:unset;">
                                <h5 style=" font-size: 18pt;">&nbsp;</h5>
                                <hr style="color:black;" />
                                <dl>
                                    <dt>Dung Tích Động Cơ</dt>
                                    <dd id="capacity2"></dd>
                                </dl>

                                <dl>
                                    <dt>Mã Lực</dt>
                                    <dd id="horsepower2"></dd>
                                </dl>


                                <dl>
                                    <dt>Momen Xoắn</dt>
                                    <dd id="torque2"></dd>
                                </dl>
                            </section>
                            <section style="padding:unset;">
                                <h5 style=" font-size: 18pt;">&nbsp;</h5>
                                <hr style="color:black;" />
                                <dl>
                                    <dt> Hộp Số</dt>
                                    <dd id="gear2"></dd>
                                </dl>
                                <dl>
                                    <dt>Hệ Dẫn Động</dt>
                                    <dd id="drivetype2"></dd>
                                </dl>

                                <dl>
                                    <dt>Hệ Thống Thắng Trước</dt>
                                    <dd id="frontbrakesystem2"></dd>
                                </dl>
                                <dl>
                                    <dt>Hệ Thống Thắng Sau</dt>
                                    <dd id="rearbrakesystem2"></dd>
                                </dl>

                                <dl>
                                    <dt>Tốc Độ Tối Đa</dt>
                                    <dd id="maximumspeed2"></dd>
                                </dl>

                                <dl>
                                    <dt>Tăng tốc từ 0-100km/h</dt>
                                    <dd id="accelerationtime2"></dd>
                                </dl>
                            </section>
                            <section style="padding:unset;">
                                <h5 style=" font-size: 18pt;">&nbsp;</h5>
                                <hr style="color:black;" />
                                <dl>
                                    <dt>Dung Tích Bình Xăng</dt>
                                    <dd id="capacitytank2"></dd>
                                </dl>
                            </section>
                            <section style="padding:unset;">
                                <h5 style=" font-size: 18pt;">&nbsp;</h5>
                                <hr style="color:black;" />
                                <dl>
                                    <dt>Số Ghế</dt>
                                    <dd id="numberseat2"></dd>
                                </dl>

                                <dl>
                                    <dt>Loại Ghế</dt>
                                    <dd id="seat2"></dd>
                                </dl>

                                <dl>
                                    <dt>Hệ Thống Điều Hòa</dt>
                                    <dd id="airconditioner2"></dd>
                                </dl>

                                <dl>
                                    <dt>Cửa Sổ Trời</dt>
                                    <dd id="sunroof2"></dd>
                                </dl>
                            </section>

                        </div>

                    </form>



                </div>
            </div>


            <br />
            <br />

        </div>
    </div>
</section>
<div> <a class="btn-top" href="javascript:void(0);" title="Top" style="display: inline;"></a> </div>


<!-- SCRIPTS -->
<script src="~/Asset/Client/js/jquery.js"></script>
<script src="~/Asset/Client/js/bootstrap.min.js"></script>
<script src="~/Asset/Client/js/owl.carousel.min.js"></script>
<script src="~/Asset/Client/js/smoothscroll.js"></script>
<script src="~/Asset/Client/js/custom.js"></script>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).ready(function () {
            var selectedname = "";
            $("#automakerId").change(function () {

                $.get("/Client/GetModelList", { idAuto: $("#automakerId").val() }, function (data) {
                    $("#modelId").empty();
                    $("#modelId").append("<option value='no model'>--Select--</option>");
                    $.each(data, function (index, row) {
                        $("#modelId").append("<option value='" + row.id_model + "'>" + row.name_model + "</option>")


                    });
                    
                });
            })

            $("#modelId").change(function () {
                        selectedname += $(this).children("option:selected").val();
                        $.get("/Client/GetVersionList", { idModel: $("#modelId").val() }, function (data) {
                            $("#versionId").empty();
                            $("#versionId").append("<option value='no version'>--Select--</option>");
                            $.each(data, function (index, row) {
                                $("#versionId").append("<option value='" + row.id_version + "'>" + row.name_version + "</option>")

                            });


                        });
            })

            $("#versionId").change(function () {

                                $(".car-1").hide();
                                $(".detail-car-1").show();
                                $.get("/Client/GetCarList", { idVersion: $("#versionId ").val() }, function (data) {
                                    $("#CarId").empty();


                                    $.each(data, function (i, row) {

                                        $('#over').prepend("<dd value='" + row.id_car + "'>" + row.overview_car + "<dd>");
                                        $('#length').prepend("<dd value='" + row.id_car + "'>" + row.length_car + "<dd>");
                                        $('#wheels').prepend("<dd value='" + row.id_car + "'>" + row.wheels_car + "<dd>");
                                        $('#tireparameters').prepend("<dd value='" + row.id_car + "'>" + row.tireparameters_car + "<dd>");
                                        $('#weight').prepend("<dd value='" + row.id_car + "'>" + row.weight_car + "<dd>");
                                        $('#capacity').prepend("<dd value='" + row.id_car + "'>" + row.capacity_car + "<dd>");
                                        $('#horsepower').prepend("<dd value='" + row.id_car + "'>" + row.horsepower_car + "<dd>");
                                        $('#gear').prepend("<dd value='" + row.id_car + "'>" + row.gear_car + "<dd>");
                                        $('#torque').prepend("<dd value='" + row.id_car + "'>" + row.torque_car + "<dd>");
                                        $('#drivetype').prepend("<dd value='" + row.id_car + "'>" + row.drivetype_car + "<dd>");
                                        $('#frontbrakesystem').prepend("<dd value='" + row.id_car + "'>" + row.frontbrakesystem_car + "<dd>");
                                        $('#rearbrakesystem').prepend("<dd value='" + row.id_car + "'>" + row.rearbrakesystem_car + "<dd>");
                                        $('#maximumspeed').prepend("<dd value='" + row.id_car + "'>" + row.maximumspeed_car + "<dd>");
                                        $('#accelerationtime').prepend("<dd value='" + row.id_car + "'>" + row.accelerationtime_car + "<dd>");
                                        $('#capacitytank').prepend("<dd value='" + row.id_car + "'>" + row.capacitytank_car + "<dd>");
                                        $('#numberseat').prepend("<dd value='" + row.id_car + "'>" + row.numberseat_car + "<dd>");
                                        $('#seat').prepend("<dd value='" + row.id_car + "'>" + row.seat_car + "<dd>");
                                        $('#airconditioner').prepend("<dd value='" + row.id_car + "'>" + row.airconditioner + "<dd>");
                                        $('#sunroof').prepend("<dd value='" + row.id_car + "'>" + row.sunroof_car + "<dd>");
                                        $('#image-detail1').attr('src', row.img_car)
                                        $('#charge').prepend("<div value='" + row.id_car + "'>" + row.charge_car + " tỷ " + "</div>");
                                        var selectedname = $("#automakerId option:selected").text() + " " + $("#modelId option:selected").text() + " " + $("#versionId option:selected").text();
                                        $('#car-head').prepend("<div value='" + row.id_car + "'>" + selectedname + "</div>");
                                        $('#reset-all').show();
                                    });
                                });
            })

           


            







            $("#automakerId1").change(function () {
                $.get("/Client/GetModelList", { idAuto: $("#automakerId1").val() }, function (data) {
                    $("#modelId1").empty();
                    $("#modelId1").append("<option value='no model 1'>--Select--</option>");
                    $.each(data, function (index, row) {
                        $("#modelId1").append("<option value='" + row.id_model + "'>" + row.name_model + "</option>")

                    });
                   

                });
            })

            $("#modelId1").change(function () {
                $.get("/Client/GetVersionList", { idModel: $("#modelId1").val() }, function (data) {
                    $("#versionId1").empty();
                    $("#versionId1").append("<option value='no version 1'>--Select--</option>");
                    $.each(data, function (index, row) {
                        $("#versionId1").append("<option value='" + row.id_version + "'>" + row.name_version + "</option>")
                    });
                });

               
            })

            $("#versionId1").change(function () {

                $(".car-2").hide();
                $(".detail-car-2").show();
                $.get("/Client/GetCarList", { idVersion: $("#versionId1 ").val() }, function (data) {
                    $("#CarId1").empty();


                    $.each(data, function (i, row) {

                        $('#over1').prepend("<dd value='" + row.id_car + "'>" + row.overview_car + "<dd>");
                        $('#length1').prepend("<dd value='" + row.id_car + "'>" + row.length_car + "<dd>");
                        $('#wheels1').prepend("<dd value='" + row.id_car + "'>" + row.wheels_car + "<dd>");
                        $('#tireparameters1').prepend("<dd value='" + row.id_car + "'>" + row.tireparameters_car + "<dd>");
                        $('#weight1').prepend("<dd value='" + row.id_car + "'>" + row.weight_car + "<dd>");
                        $('#capacity1').prepend("<dd value='" + row.id_car + "'>" + row.capacity_car + "<dd>");
                        $('#horsepower1').prepend("<dd value='" + row.id_car + "'>" + row.horsepower_car + "<dd>");
                        $('#gear1').prepend("<dd value='" + row.id_car + "'>" + row.gear_car + "<dd>");
                        $('#torque1').prepend("<dd value='" + row.id_car + "'>" + row.torque_car + "<dd>");
                        $('#drivetype1').prepend("<dd value='" + row.id_car + "'>" + row.drivetype_car + "<dd>");
                        $('#frontbrakesystem1').prepend("<dd value='" + row.id_car + "'>" + row.frontbrakesystem_car + "<dd>");
                        $('#rearbrakesystem1').prepend("<dd value='" + row.id_car + "'>" + row.rearbrakesystem_car + "<dd>");
                        $('#maximumspeed1').prepend("<dd value='" + row.id_car + "'>" + row.maximumspeed_car + "<dd>");
                        $('#accelerationtime1').prepend("<dd value='" + row.id_car + "'>" + row.accelerationtime_car + "<dd>");
                        $('#capacitytank1').prepend("<dd value='" + row.id_car + "'>" + row.capacitytank_car + "<dd>");
                        $('#numberseat1').prepend("<dd value='" + row.id_car + "'>" + row.numberseat_car + "<dd>");
                        $('#seat1').prepend("<dd value='" + row.id_car + "'>" + row.seat_car + "<dd>");
                        $('#airconditioner1').prepend("<dd value='" + row.id_car + "'>" + row.airconditioner_car + "<dd>");
                        $('#sunroof1').prepend("<dd value='" + row.id_car + "'>" + row.sunroof_car + "<dd>");
                        $('#image-detail2').attr('src', row.img_car)

                        $('#charge1').prepend("<div value='" + row.id_car + "'>" + row.charge_car + " tỷ " + "</div>");
                        var selectedname1 = $("#automakerId1 option:selected").text() + " " + $("#modelId1 option:selected").text() + " " + $("#versionId1 option:selected").text();
                        $('#car-head1').prepend("<div value='" + row.id_car + "'>" + selectedname1 + "</div>");
                        $('#reset-all').show();
                    });
                });
            })





            $("#automakerId2").change(function () {
                $.get("/Client/GetModelList", { idAuto: $("#automakerId2").val() }, function (data) {
                    $("#modelId2").empty();
                    $("#modelId2").append("<option value='no model 2'>--Select--</option>");
                    $.each(data, function (index, row) {
                        $("#modelId2").append("<option value='" + row.id_model + "'>" + row.name_model + "</option>")
                    });
                   
                }); 
            })

            $("#modelId2").change(function () {
                $.get("/Client/GetVersionList", { idModel: $("#modelId2").val() }, function (data) {
                    $("#versionId2").empty();
                    $("#versionId2").append("<option value='no version 2'>--Select--</option>");
                    $.each(data, function (index, row) {
                        $("#versionId2").append("<option value='" + row.id_version + "'>" + row.name_version + "</option>")
                    });
                   
                });
            })


            $("#versionId2").change(function () {

                $(".car-3").hide();
                $(".detail-car-3").show();
                $.get("/Client/GetCarList", { idVersion: $("#versionId2 ").val() }, function (data) {
                    $("#CarId2").empty();


                    $.each(data, function (i, row) {

                        $('#over2').prepend("<dd value='" + row.id_car + "'>" + row.overview_car + "<dd>");
                        $('#length2').prepend("<dd value='" + row.id_car + "'>" + row.length_car + "<dd>");
                        $('#wheels2').prepend("<dd value='" + row.id_car + "'>" + row.wheels_car + "<dd>");
                        $('#tireparameters2').prepend("<dd value='" + row.id_car + "'>" + row.tireparameters_car + "<dd>");
                        $('#weight2').prepend("<dd value='" + row.id_car + "'>" + row.weight_car + "<dd>");
                        $('#capacity2').prepend("<dd value='" + row.id_car + "'>" + row.capacity_car + "<dd>");
                        $('#horsepower2').prepend("<dd value='" + row.id_car + "'>" + row.horsepower_car + "<dd>");
                        $('#gear2').prepend("<dd value='" + row.id_car + "'>" + row.gear_car + "<dd>");
                        $('#torque2').prepend("<dd value='" + row.id_car + "'>" + row.torque_car + "<dd>");
                        $('#drivetype2').prepend("<dd value='" + row.id_car + "'>" + row.drivetype_car + "<dd>");
                        $('#frontbrakesystem2').prepend("<dd value='" + row.id_car + "'>" + row.frontbrakesystem_car + "<dd>");
                        $('#rearbrakesystem2').prepend("<dd value='" + row.id_car + "'>" + row.rearbrakesystem_car + "<dd>");
                        $('#maximumspeed2').prepend("<dd value='" + row.id_car + "'>" + row.maximumspeed_car + "<dd>");
                        $('#accelerationtime2').prepend("<dd value='" + row.id_car + "'>" + row.accelerationtime_car + "<dd>");
                        $('#capacitytank2').prepend("<dd value='" + row.id_car + "'>" + row.capacitytank_car + "<dd>");
                        $('#numberseat2').prepend("<dd value='" + row.id_car + "'>" + row.numberseat_car + "<dd>");
                        $('#seat2').prepend("<dd value='" + row.id_car + "'>" + row.seat_car + "<dd>");
                        $('#airconditioner2').prepend("<dd value='" + row.id_car + "'>" + row.airconditioner_car + "<dd>");
                        $('#sunroof2').prepend("<dd value='" + row.id_car + "'>" + row.sunroof_car + "<dd>");
                        $('#image-detail3').attr('src', row.img_car)
                        var selectedname2 = $("#automakerId2 option:selected").text() + " " + $("#modelId2 option:selected").text() + " " + $("#versionId2 option:selected").text();
                        $('#car-head2').prepend("<div value='" + row.id_car + "'>" + selectedname2 + "</div>");
                        $('#charge2').prepend("<div value='" + row.id_car + "'>" + row.charge_car + " tỷ " + "</div>");
                        $('#reset-all').show();

                    });
                });
            })




            $("#btn-1").click(function () {

                $("#modelId").empty();
                $("#modelId").append("<option value='no model'>--Select--</option>");
                $("#versionId").empty();
                $("#versionId").append("<option value='no version'>--Select--</option>");
                $(".car-1").show();
                $('#over').empty();
                $('#length').empty();
                $('#wheels').empty();
                $('#tireparameters').empty();
                $('#weight').empty();
                $('#capacity').empty();
                $('#horsepower').empty();
                $('#torque').empty();
                $('#drivetype').empty();
                $('#frontbrakesystem').empty();
                $('#rearbrakesystem').empty();
                $('#maximumspeed').empty();
                $('#accelerationtime').empty();
                $('#capacitytank').empty();
                $('#numberseat').empty();
                $('#seat').empty();
                $('#airconditioner').empty();
                $('#sunroof').empty();
                $('#image-detail1').empty();
                $('#charge').empty();         
                $('#car-head').empty();
                $(".detail-car-1").hide();


            });


            $("#btn-2").click(function () {

                $("#modelId1").empty();
                $("#modelId1").append("<option value='no model'>--Select--</option>");
                $("#versionId1").empty();
                $("#versionId1").append("<option value='no version'>--Select--</option>");
                $(".car-2").show();
                $('#over1').empty();
                $('#length1').empty();
                $('#wheels1').empty();
                $('#tireparameters1').empty();
                $('#weight1').empty();
                $('#capacity1').empty();
                $('#horsepower1').empty();
                $('#torque1').empty();
                $('#drivetype1').empty();
                $('#frontbrakesystem1').empty();
                $('#rearbrakesystem1').empty();
                $('#maximumspeed1').empty();
                $('#accelerationtime1').empty();
                $('#capacitytank1').empty();
                $('#numberseat1').empty();
                $('#seat1').empty();
                $('#airconditioner1').empty();
                $('#sunroof1').empty();
                $('#image-detail2').empty();
                $('#charge1').empty();
                $('#car-head1').empty();
                $(".detail-car-2").hide();


            });



            $("#btn-3").click(function () {

                $("#modelId2").empty();
                $("#modelId2").append("<option value='no model'>--Select--</option>");
                $("#versionId2").empty();
                $("#versionId2").append("<option value='no version'>--Select--</option>");
                $(".car-3").show();
                $('#over2').empty();
                $('#length2').empty();
                $('#wheels2').empty();
                $('#tireparameters2').empty();
                $('#weight2').empty();
                $('#capacity2').empty();
                $('#horsepower2').empty();
                $('#torque2').empty();
                $('#drivetype2').empty();
                $('#frontbrakesystem2').empty();
                $('#rearbrakesystem2').empty();
                $('#maximumspeed2').empty();
                $('#accelerationtime2').empty();
                $('#capacitytank2').empty();
                $('#numberseat2').empty();
                $('#seat2').empty();
                $('#airconditioner2').empty();
                $('#sunroof2').empty();
                $('#image-detail3').empty();
                $('#charge2').empty();
                $('#car-head2').empty();
                $(".detail-car-3").hide();


            });

        });

    });


</script>
