@using CarComparison.Areas.Admin.Models;
@model IEnumerable<Article>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section navbar{
    <li><a href="/Client/Index">Trang chủ</a></li>
    <li><a href="/Client/Comparing">So sánh Xe</a></li>
    <li><a href="/Client/Review">Bài đánh giá</a></li>
    <li class="active"><a href="/Client/Video">Video</a></li>
    <li><a href="/Client/Team">Team</a></li>

    <li><a href="/Client/Contact">Liên hệ</a></li>

}


<section>
    <div class="container">
        <div class="text-center">
            <h1>Tổng hợp video so sánh xe</h1>

            <br>

            <p class="lead">Các video chọn lọc những thông tin mới và hữu ích nhất.</p>
        </div>
    </div>
</section>

<section class="section-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 pull-right col-xs-12">
                <div class="form">
                    <form action="#">
                        <div class="form-group">
                            <label class="control-label">Video Search</label>

                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go!</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>

                <br>

                <label class="control-label">Video liên quan</label>

                <ul class="list">
                    <li><a href="blog-post-details.html">So sánh Toyota Vios 2020 và Hyundai Accent 2020  </a></li>
                    <li><a href="blog-post-details.html">Chọn Mitsubishi Attrage hay Kia Soluto 400 triệu  </a></li>
                    <li><a href="blog-post-details.html">Chỉ từ 375 triệu có ngay xe nhập Thái - Mitsubishi Attrage 2020</a></li>
                </ul>
            </div>

            <div class="col-lg-9 col-xs-12">
                <div class="row">

                    <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                            <div class="courses-image">

                                <iframe src="@ViewBag.artLink" width="100%" height="500" frameborder="0" style="" allow='autoplay=1'></iframe>
                            </div>
                            <div class="courses-date">

                                <span title="Date"><i class="fa fa-calendar">@ViewBag.artDate </i> </span>
                                <span title="Views"><i class="fa fa-eye"></i> 114</span>
                            </div>
                        </div>

                        <div class="courses-detail">
                            <h3><a href="blog-post-details.html">@ViewBag.artTitle</a></h3>
                            <span title="Author"><i class="fa fa-user"></i> </span>
                        </div>


                    </div>

                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6">
                            <div class="courses-thumb courses-thumb-secondary">
                                <div class="courses-top">
                                    <div class="courses-image">
                                        <iframe src="@item.linkvideo_article" width="100%" height="300" frameborder="0" style="" allow='autoplay=1'></iframe>
                                    </div>
                                    <div class="courses-date">

                                        <span title="Date"><i class="fa fa-calendar"></i> @item.time_pulish_article</span>
                                        <span title="Views"><i class="fa fa-eye"></i> 114</span>
                                    </div>
                                </div>

                                <div class="courses-detail">
                                    <div style="width:300 ; height:200">
                                        <h3><a href="blog-post-details.html">@item.title_article</a></h3>
                                    </div>

                                    <span title="Author"><i class="fa fa-user"></i>Tác giả: @item.User_.fname_user @item.User_.lname_user</span>
                                </div>

                                <div class="courses-info">
                                    <a href="blog-post-details.html" class="section-btn btn btn-primary btn-block">View Detail</a>
                                </div>
                            </div>
                        </div>
                    }




                </div>
            </div>
        </div>
    </div>
</section>


