@using CarComparison.Areas.Admin.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<Article>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section navbar{
    <li><a href="/Client/Index">Trang chủ</a></li>
    <li><a href="/Client/Comparing">So sánh Xe</a></li>
    <li><a href="/Client/Review">Bài đánh giá</a></li>
    <li><a href="/Client/Review">Bài so sánh</a></li>
    <li class="active"><a href="/Client/Video">Video</a></li>
    <li><a href="/Client/Team">Team</a></li>

    <li><a href="/Client/Contact">Liên hệ</a></li>

}


<section>
    <div class="container">
        <div class="text-center">
            <h1>Tổng hợp video so sánh xe</h1>

            <br>

            <p class="lead">Các video chọn lọc những thông tin mới và hữu ích nhất.</p>
        </div>
    </div>
</section>

<section class="section-background">
    <div class="container">
        <div class="row">
            @using (Ajax.BeginForm("Video", "Client", new AjaxOptions { UpdateTargetId = "resultSearch", InsertionMode = InsertionMode.Replace }))
            {
                <div class="col-lg-3 pull-right col-xs-12">
                    <div class="form">
                        <form action="#">
                            <div class="form-group">
                                <label class="control-label">Video Search</label>

                                <div class="input-group">
                                    <input type="text" name="key" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <br>

                    <label class="control-label">Video liên quan:</label>

                    <ul class="list">
                        @if (ViewBag.lstnew3video == null)
                        {
                            <li>Chưa có video mới.</li>
                        }
                        else
                        {
                            foreach (var item in ViewBag.lstnew3video)
                            {
                                <li><a href="@Url.Action("DetailVideo", "Client", new { id = item.id_article })">@item.title_article</a></li>
                            }
                        }

                    </ul>
                </div>
            }
            <div class="col-lg-9 col-xs-12">
                <div class="row">
                    @foreach (var item in ViewBag.videofirst)
                    {
                        <div class="courses-thumb courses-thumb-secondary">
                            <div class="courses-top">
                                <div class="courses-image">

                                    <iframe src="@item.linkvideo_article" width="100%" height="500" frameborder="0" style="" allow='autoplay=1'></iframe>
                                </div>
                                <div class="courses-date">


                                </div>
                            </div>

                            <div class="courses-detail">
                                <h3><a href="blog-post-details.html">@item.title_article</a></h3>
                                <span title="Author"><i class="fa fa-user">@item.User_.lname_user @item.User_.fname_user &nbsp;&nbsp; </i> </span>
                                <span title="Date"><i class="fa fa-calendar"> @item.time_pulish_article &nbsp;&nbsp; </i> </span>
                                <span title="Views"><i class="fa fa-eye">@item.view_article</i></span>
                            </div>


                        </div>
                    }

                    <div id="resultSearch">
                        @foreach (var item in Model)
                        {
                            <div class="col-sm-6">
                                <div class="courses-thumb courses-thumb-secondary">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <iframe src="@item.linkvideo_article" height="300" frameborder="0" style="width:100%" allow='autoplay=1'></iframe>
                                        </div>
                                        <div class="courses-date">

                                            <span title="Date"><i class="fa fa-calendar"></i> @item.time_pulish_article</span>
                                            <span title="Views"><i class="fa fa-eye"></i> @item.view_article</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <div style="width:300 ; height:200">
                                            <h3><a href="@Url.Action("DetailVideo","Client",new { id=item.id_article})">@item.title_article</a></h3>
                                        </div>

                                        <span title="Author"><i class="fa fa-user"></i>@item.User_.lname_user @item.User_.fname_user </span>
                                    </div>

                                    <div class="courses-info">
                                        <a href="@Url.Action("DetailVideo","Client",new { id=item.id_article})" class="section-btn btn btn-primary btn-block">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="dlink">
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("Video", new { page = page }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


