@model CarComparison.Areas.Admin.Models.User_
@{
    ViewBag.Title = "AccountInformationView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = Session["user"] as CarComparison.Areas.Admin.Models.User_;
}

@section head{
    <script type="text/javascript">
        function funLoad() {
            var info = document.getElementById("info");
            var edit = document.getElementById("edit");
            var changepass = document.getElementById("changepass");
            var li_info = document.getElementById("li_info");
            var li_edit = document.getElementById("li_edit");
            var li_changepass = document.getElementById("li_changepass");
            var value = @Html.Raw(Json.Encode(ViewBag.tabactive));
            if (value == "changepassf") {
                changepass.classList.add("active");
                li_changepass.classList.add("active");
            }
            else if (value == "edit" || value == "editfalse") {
                edit.classList.add("active");
                li_edit.classList.add("active");
            }
            else {
                info.classList.add("active");
                li_info.classList.add("active");
            }
        }
        window.onload = funLoad;
    </script>
}

@*MENU*@
@section navbar{
    <li><a href="/Client/Index">Trang chủ</a></li>
    <li><a href="/Client/Comparing">So sánh Xe</a></li>
    <li><a href="/Client/Review">Bài đánh giá</a></li>
    <li><a href="/Client/ArcCompare">Bài so sánh</a></li>
    <li><a href="/Client/Video">Video</a></li>
    <li><a href="/Client/Team">Team</a></li>
    <li><a href="/Client/Contact">Liên hệ</a></li>
}

<section>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <!-- cột bên trái -->
            <div class="text-center">
                <img src=@Model.avt_user class="avatar" style="object-fit:cover; height: 18rem; width: 18rem; border-radius: 50% !important;" alt="avatar" id="img-thumb">
                <br>
                <div style="font-size:18px; margin-bottom:5px; margin-top:10px;">@Html.DisplayFor(model => model.name_user)</div>
                <hr />

            </div>
        </div>
        <div class="col-sm-9">
            <!-- cột bên phải-->
            <ul class="nav nav-tabs">
                <li id="li_info"><a data-toggle="tab" href="#info" onclick="funInfo()">Thông tin</a></li>
                <li id="li_edit"><a data-toggle="tab" href="#edit" onclick="funEdit()">Sửa thông tin</a></li>
                <li id="li_changepass"><a data-toggle="tab" href="#changepass" onclick="funChangePass()">Đổi mật khẩu</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="info">
                    <br />
                    <form action="/Account/DisableAccount" method="post">
                        @Html.AntiForgeryToken()
                        <div style="display: flex;flex-wrap: wrap;">
                            <div style="width:40%;">
                                <div class="form-group">
                                    <div style="font-size:18px; margin-bottom:10px;"><span style="font-weight:bold;">Họ tên:</span> @Html.DisplayFor(model => model.lname_user) @Html.DisplayFor(model => model.fname_user)</div>
                                    <div style="font-size:18px; margin-bottom:10px;"><span style="font-weight:bold;">Email:</span> @Html.DisplayFor(model => model.email_user)</div>
                                    <div style="font-size:18px; margin-bottom:10px;"><span style="font-weight:bold;">Giới tính:</span> @Html.DisplayFor(model => model.sex_user)</div>
                                </div>
                            </div>
                            <div style="width:60%;">
                                <div class="form-group">
                                    <div style="font-size:18px; margin-bottom:10px;"><span style="font-weight:bold;">Số điện thoại:</span> @Html.DisplayFor(model => model.phone_user)</div>
                                    <div style="font-size:18px; margin-bottom:10px;"><span style="font-weight:bold;">Ngày sinh:</span> @Model.birthday_user.Value.ToShortDateString()</div>
                                    <div style="font-size:18px; margin-bottom:10px;"><span style="font-weight:bold;">Địa chỉ:</span> @Html.DisplayFor(model => model.address_user)</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                @if (user.id_user != "Us01")
                                {
                                    <input class="btn btn-danger" type="submit" name="action" value="Vô hiệu hóa tài khoản" />
                                }
                            </div>
                        </div>
                    </form>
                </div><!--/tab-pane-->
                <div class="tab-pane" id="edit">
                    <br />
                <form action="/Account/EditInfo" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div style="display: flex;flex-wrap: wrap;">
                        <div style="width:40%; margin-left:20px;">
                            <div class="form-group">
                                <div style="font-size:18px; margin-bottom:10px;">
                                    <div style="font-weight:bold; padding-bottom:5px;">
                                        Họ:
                                    </div>
                                    @Html.EditorFor(model => model.lname_user, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div style="font-size:18px; margin-bottom:10px;">
                                    <div style="font-weight:bold; padding-bottom:5px;">
                                        Email:
                                    </div>
                                    @Html.EditorFor(model => model.email_user, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessage("errorEdit", new { @class = "text-danger", @style = "color: crimson;" })
                                </div>
                                <div style="font-size:18px; margin-bottom:10px;">
                                    <div style="font-weight:bold; padding-bottom:5px;">
                                        Số điện thoại:
                                    </div>
                                    @Html.EditorFor(model => model.phone_user, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                        <div style="width:40%; margin-left:20px;">
                            <div class="form-group">
                                <div style="font-size:18px; margin-bottom:10px;">
                                    <div style="font-weight:bold; padding-bottom:5px;">
                                        Tên:
                                    </div>
                                    @Html.EditorFor(model => model.fname_user, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div style="font-size:18px; margin-bottom:10px;">
                                    <div style="font-weight:bold; padding-bottom:5px;">
                                        Địa chỉ:
                                    </div>
                                    @Html.EditorFor(model => model.address_user, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div style="font-size:18px; margin-bottom:10px;">
                                    <div style="font-weight:bold; padding-bottom:5px;">
                                        Ngày sinh:
                                    </div>
                                    <input type="date" class="form-control" name="birthday_us" id="birthday_us" value="@Model.birthday_user.Value.ToString("yyyy-MM-dd")" />
                                    @Html.ValidationMessage("BirthdayError", new { @class = "text-danger", @style = "color: crimson;" })
                                </div>
                            </div>
                        </div>
                        <div style="width:40%; margin-left:20px;">
                            <div class="form-group">
                                <div style="font-size:18px; margin-bottom:10px;">
                                    <div style="font-weight:bold; padding-bottom:5px;">
                                        Giới tính:
                                    </div>
                                    @if (Model.sex_user == "Nam")
                                    {
                                        <span style="font-family:inherit; font-size:15px;">Nam&nbsp;&nbsp;<input type="radio" name="sex" value="1" checked />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;Nữ&nbsp;&nbsp;<input type="radio" name="sex" value="2" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;Khác&nbsp;&nbsp;<input type="radio" name="sex" value="3" /></span>
                                    }
                                    else if (Model.sex_user == "Nữ")
                                    {
                                        <span style="font-family:inherit; font-size:15px;">Nam&nbsp;&nbsp;<input type="radio" name="sex" value="1" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;Nữ&nbsp;&nbsp;<input type="radio" name="sex" value="2" checked />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;Khác&nbsp;&nbsp;<input type="radio" name="sex" value="3" /></span>
                                    }
                                    else
                                    {
                                        <span style="font-family:inherit; font-size:15px;">Nam&nbsp;&nbsp;<input type="radio" name="sex" value="1" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;Nữ&nbsp;&nbsp;<input type="radio" name="sex" value="2" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;Khác&nbsp;&nbsp;<input type="radio" name="sex" value="3" checked /></span>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <div id="change_avt" style="font-size:18px; margin-bottom:10px;font-weight:bold; padding-bottom:5px;">Đổi avatar</div>
                                <input type="file" class="text-center center-block btn btn-block" onchange="funCheck()" accept=".jpg" name="imageFile" id="imageFile">

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <input class="btn btn-danger" type="submit" name="action" value="Lưu" />
                            <input class="btn btn-default" type="submit" name="action" value="Hủy">
                        </div>
                    </div>
                    @if (ViewBag.tabactive == "edit")
                    {
                        <script>
                            alert("Cập nhật thông tin thành công!!");
                        </script>
                    }
                </form>
                </div><!--/tab-pane-->
                <div class="tab-pane" id="changepass">
                    <hr>
                    <form action="/Account/ChangePassword" method="post">
                    @Html.AntiForgeryToken()
                        <div style="width:40%; margin-left:20px;">
                            <div class="form-group">
                                <div style="font-size:18px; margin-bottom:10px;">
                                    <div style="font-weight:bold; padding-bottom:5px;">
                                        Mật khẩu cũ:
                                    </div>
                                    <input type="password" class="form-control" name="password_old" id="password_old" title="Nhập mật khẩu cũ." required>
                                    @Html.ValidationMessage("errorChange3", new { @class = "text-danger", @style = "color: crimson;" })
                                </div>
                                <div style="font-size:18px; margin-bottom:10px;">
                                    <div style="font-weight:bold; padding-bottom:5px;">
                                        Mật khẩu mới:
                                    </div>
                                    <input type="password" class="form-control" name="password_new" id="password_new" title="Nhập mật khẩu mới." required>
                                    @Html.ValidationMessage("errorChange1", new { @class = "text-danger", @style = "color: crimson;" })
                                </div>
                                <div style="font-size:18px; margin-bottom:10px;">
                                    <div style="font-weight:bold; padding-bottom:5px;">
                                        Nhập lại mật khẩu mới:
                                    </div>
                                    <input type="password" class="form-control" name="repassword_new" id="repassword_new" title="Nhập lại mật khẩu mới để xác nhận." required>
                                    @Html.ValidationMessage("errorChange2", new { @class = "text-danger", @style = "color: crimson;" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <input class="btn btn-danger" type="submit" name="action" value="Đổi mật khẩu" />
                            </div>
                        </div>
                        @if (ViewBag.tabactive == "changepasst")
                        {
                            <script>
                                alert("Lưu thành công!!");
                            </script>
                        }
                    </form>
                </div>
            </div><!--/tab-pane-->
        </div><!--/tab-content-->
    </div><!--/col-9-->
</section>
<script type="text/javascript">
    function funEdit() {
        $("#change_avt").show();
        $("#imageFile").show();
    }
    function funInfo() {
        $("#change_avt").hide();
        $("#imageFile").hide();
    }
    function funChangePass() {
        $("#change_avt").hide();
        $("#imageFile").hide();
    }
</script>

<script>
     function funCheck() {
                            var file = document.getElementById("imageFile").value;
                            var idxDot = file.lastIndexOf(".") + 1;
                            var extFile = file.substr(idxDot, file.length).toLowerCase();
                            if (extFile != "jpg") {
                                alert("Chỉ cho phép ảnh đuôi .jpg");
                                document.getElementById("imageFile").value = null;
                  $('#img-thumb').attr('src', "@Model.avt_user");
                            }
                            else {
                                var reader = new FileReader();

                                reader.onload = function (e) {
                    $('#img-thumb').attr('src', e.target.result);
                    $('#img-thumb').show();
                                }
                                reader.readAsDataURL(document.getElementById("imageFile").files[0]);
                            }
                        }
</script>
