@model CarComparison.Areas.Admin.Models.ResetPasswordModel
    @{
        ViewBag.Title = "Reset Password";
        Layout = null;
    }

    <!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
    -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Khôi phục mật khẩu | Car Comparison</title>
        <!-- Meta-Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="keywords" content="">
        <script>
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
        <!-- //Meta-Tags -->
        <!-- css files -->
        <link href="~/Asset/Login/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="~/Asset/Login/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <!-- //css files -->
        <!-- google fonts -->
        <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- //google fonts -->

    </head>
    <body>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="signupform">
                <div class="container">
                    <!-- main content -->
                    <div class="agile_info">
                        <div class="w3l_form">
                            <div class="left_grid_info">
                                <h1>CAR COMPARISON</h1>
                                <p>Tạo tài khoản nhanh chóng và dễ dàng.</p>
                                <img src="~/Asset/Login/images/image.jpg" alt="" />
                            </div>
                        </div>
                        <div class="w3_info">
                            <h2>ĐẶT LẠI MẬT KHẨU</h2>
                            <br />
                            <form action="/Account/Register" method="post">
                                <label>Mật khẩu mới</label>
                                <div class="input-group">
                                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                </div>
                                <label>Xác nhận mật khẩu</label>
                                <div class="input-group">
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-group">
                                    @Html.HiddenFor(a => a.ResetCode)
                                </div>
                                <div class="text-danger">
                                    @ViewBag.Message
                                </div>
                                <button class="btn btn-danger btn-block" type="submit">Lưu</button>
                            </form>
                            <p class="account">Bằng cách nhấn vào Đăng ký, bạn đồng ý với <a href="#">Điều khoản và chính sách</a> của chúng tôi.</p>
                        </div>
                    </div>
                    <!-- //main content -->
                </div>
                <!-- footer -->
                <div class="footer">
                    <p>&copy; 2020 Car Comparison Team 6. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="blank">W3layouts</a></p>
                </div>
                <!-- footer -->
            </div>
        }
    </body>
    @section Scripts{
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    }
    </html>

@*<h2>Reset Password</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Reset Password</h4>
        <hr />
        <div class="text-danger">
            @ViewBag.Message
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
            </div>
        </div>
        <div class="form-group">

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@

