@model CarComparison.Areas.Admin.Models.User_

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">Chi tiết tài khoản</h1>

<div>
    <hr />
    <div class="content-edit">
        <div class="form-car">
            <div class="form-group">
                <dt>
                    Ảnh
                </dt>

                <dd>
                    <img class="img-thumbnail" style="object-fit:cover" src="@Url.Content(@Model.avt_user)" alt="" />
                </dd>
            </div>
            <div class="form-group">
                <dt>
                    Tên tài khoản
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name_user)
                </dd>

            </div>
            <div class="form-group">
                <dt>
                    Họ
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.lname_user)
                </dd>
            </div>
            <div class="form-group">
                <dt>
                    Tên
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.fname_user)
                </dd>
            </div>
        </div>
        <div class="form-car">
            <div class="form-group">
                <dt>
                    Giới tính
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sex_user)
                </dd>
            </div>
            <div class="form-group">
                <dt>
                    Số điện thoại
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.phone_user)
                </dd>
            </div>
            <div class="form-group">
                <dt>
                    Loại tài khoản
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TypeUser.name_typeuser)
                </dd>
            </div>
            <div class="form-group">
                <dt>
                    Địa chỉ
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.address_user)
                </dd>
            </div>
            <div class="form-group">
                <dt>
                    Email
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email_user)
                </dd>
            </div>
        </div>
    </div>
    @Html.BeginForm("Block", "User_", FormMethod.Post)
    {
        <div class="content-edit">
            @if (Model.block_state_user == "1")
            {
                <input type="submit" class="btn btn-primary" name="action" value="Khóa" />
            }
            else
            {
                <input type="submit" class="btn btn-primary" name="action" value="Mở khóa" />
            }
            </a>
            <a href="/Admin/Cars" style="margin-left:5px;">
                <input type="button" class="btn btn-secondary" value="Quay lại" />
            </a>
        </div>
    }

</div>