@model IEnumerable<CarComparison.Areas.Admin.Models.User_>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên tài khoản</th>
                    <th>Ngày đăng ký</th>
                    <th>Ngày đăng nhập gần đây</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>STT</th>
                    <th>Tên tài khoản</th>
                    <th>Ngày đăng ký</th>
                    <th>Ngày đăng nhập gần đây</th>
                    <th>Hành động</th>
                </tr>
            </tfoot>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in Model)
                {
                    @Html.BeginForm("Block", "User_", FormMethod.Post)
                    {
                        <tr>
                            <td>
                                @{
                                    i++;
                                }
                                <div>@i</div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.name_user)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.registerdate_user)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.lastvisitdate_user)
                            </td>
                            <td>
                                @if (item.block_state_user == "1")
                                {
                                    <input type="submit" class="text-danger" name="action" value="Khóa" /> 
                                }
                                else
                                {
                                    <input type="submit" class="" name="action" value="Mở khóa" /> 
                                }
                                | @Html.ActionLink("Chi tiết", "Detail", new { id = item.id_user})
                            </td>
                        </tr>
                    }
                 }
                </tbody>
        </table>
    </div>
</div>

@section scriptTable{
    <script src="~/Asset/Admin/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Asset/Admin/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "language": {
                    "bLengthChange": true,
                    "sLengthMenu": "Hiển thị _MENU_ mục",
                    "zeroRecords": "Lỗi: Không tìm thấy dữ liệu",
                    "sInfo": "Hiển thị từ _START_ đến  _END_ trong _TOTAL_ mục",
                    "infoEmpty": "Dữ liệu không có sẵn",
                    "oPaginate": {
                        "sFirst": "Đầu",
                        "sLast": "Cuối",
                        "sNext": "Tiếp",
                        "sPrevious": "Trước"
                    },
                    "sSearch": "Tìm kiếm",
                    "sInfoFiltered": "(được lọc từ tổng _MAX_ mục được nhập)"
                }

            });
        });
    </script>
}
