@model IEnumerable<CarComparison.Areas.Admin.Models.TypeUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">Danh sách loại tài khoản</h1>

<div class="card shadow mb-4">
    <div class="card-header py-0">
        <div class="card-body text-right">
            <a href="@Url.Action("Create", "TypeUsers")" class="btn btn-primary btn-icon-split btn-sm">
                <span class="text">Thêm thể loại</span>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>

                        <th>Mã thể loại</th>
                        <th>Tên loại tài khoản</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.id_typeuser)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name_typeuser)
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.id_typeuser }) |
                            @Html.ActionLink("Xóa", "Delete", new { id = item.id_typeuser })
                        </td>
                    </tr>
                }
            </table>
        </div>
        @*
            <div class="row">
                <!-- Hiển thị số trang-->
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                                <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                                    Previous
                                </a>
                            </li>
                            <li class="paginate_button page-item active">
                                <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">
                                    1
                                </a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">
                                    2
                                </a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">
                                    3
                                </a>
                            </li>
                            <li class="paginate_button page-item next" id="dataTable_next">
                                <a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>*@
    </div>
</div>