@model CarComparison.Areas.Admin.Models.Article

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title_article)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title_article)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alias_article)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alias_article)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description_article)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description_article)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time_pulish_article)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time_pulish_article)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time_write)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time_write)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state_article)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state_article)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.linkvideo_article)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.linkvideo_article)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryArticle.name_category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryArticle.name_category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InfoAccount.name_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfoAccount.name_user)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
