@model CarComparison.Areas.Admin.Models.Article

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section sidebar{
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/Home">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-car-side"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Car Comparison</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Home/">
                <!--Sửa đường link tổng quan-->
                <span>Tổng quan</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý
        </div>

        <!-- Nav Item - Xe -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <span>Xe</span>
            </a>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Tùy chỉnh xe:</h6>
                    <a class="collapse-item" href="/Admin/Cars">Danh sách xe</a> <!--Sửa đường link-->
                    <a class="collapse-item active" href="/Admin/Cars/Create">Thêm xe</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Bài viết -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <span>Bài viết</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Tùy chỉnh bài viết:</h6>
                    <a class="collapse-item" href="#">Danh sách các bài viết</a> <!--Sửa đường link-->
                    <a class="collapse-item" href="#">Thêm bài đánh giá</a>
                    <a class="collapse-item" href="#">Thêm video</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Tài khoản
        </div>

        <!-- Nav Item - Nhân viên -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <span>Nhân viên</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Tùy chỉnh nhân viên:</h6>
                    <a class="collapse-item" href="#">Danh sách nhân viên</a> <!--Sửa đường link-->
                    <a class="collapse-item" href="#">Thêm nhân viên</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Người dùng -->
        <li class="nav-item">
            <a class="nav-link" href="#">
                <!--Sửa đường link-->
                <span>Người dùng</span>
            </a>
        </li>

        <!-- Nav Item - Loại tài khoản -->
        <li class="nav-item">
            <a class="nav-link" href="/Admin/TypeUsers">
                <!--Sửa đường link-->
                <span>Loại tài khoản</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
}

<h1 class="h3 mb-2 text-gray-800">Xóa bài viết</h1>

<div>
    <hr />
    <div style="color:#B81D22; font-size:21px; text-align:center; font-weight:bold">@Html.DisplayFor(model => model.title_article)</div>
    <div class="content-edit">
        @if (Model.id_category != "CaAr01")
        {
            <div style="width:100%;margin-bottom:10px;"><img style="width:70%;display: block; margin-left: auto; margin-right: auto;" class="img-thumbnail" src="@Url.Content(Model.img_article)" alt="" id="img-thumb" /></div>
        }
        else
        {
            <div style="width:100%;margin-bottom:10px;"><iframe src="@Model.linkvideo_article" height="600" frameborder="0" style="width:70%;display: block; margin-left: auto; margin-right: auto;"></iframe></div>

        }
        <div class="form-car">
            <div class="form-group">
                @if (Model.state_article == "1")
                {
                    <div><span style="font-weight:bold">Trạng thái:</span> Đã xuất bản</div>
                }
                else
                {
                    <div><span style="font-weight:bold">Trạng thái:</span> Chưa xuất bản</div>
                }
            </div>
        </div>
        <div style="width:350px;">
            <span style="font-weight:bold;">Ngày viết:</span> @Html.DisplayFor(model => model.time_write)
        </div>
        <div style="width:350px;" ">
            @if (Model.state_article == "1")
            {
                <div><span style="font-weight:bold">Ngày xuất bản:</span> @Html.DisplayFor(model => model.time_pulish_article)</div>
            }
        </div>
        <div class="form-car">
            <div><span style="font-weight:bold">Tác giả:</span> @Model.User_.lname_user @Model.User_.fname_user</div>
        </div>
        <div style="width:350px;">
            <div><span style="font-weight:bold">Thể loại:</span> @Model.CategoryArticle.name_category</div>
        </div>
        <br />
        <div style="font-weight:bold">Nội dung:</div>
        <div style="width:100%; display: block; margin-left: auto; margin-right: auto; border:solid 1px; background-color:#ffffff; padding:10px; margin-bottom:20px; margin-top:20px;">@Html.Raw(Model.description_article)</div>
    </div>

    <div class="content-edit">
        <a href="#" data-toggle="modal" data-target="#confirmDelete">
            <input type="button" class="btn btn-primary" value="Xóa" />
        </a>

        <a href="/Admin/Articles" style="margin-left:5px;">
            <input type="button" class="btn btn-secondary" value="Quay lại" />
        </a>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Chọn "Xóa" bên dưới nếu bạn đã chắc chắn xóa bài viết này.</div>
                <div class="modal-footer">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            <input type="submit" value="Xóa" class="btn btn-primary" id="confirmDelete" />
                            <input class="btn btn-secondary" type="button" data-dismiss="modal" aria-label="Close"
                                   value="Hủy" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

