@model CarComparison.Areas.Admin.Models.Article

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var user = Session["user"] as CarComparison.Areas.Admin.Models.User_;
}

@section sidebar{
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/Home">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-car-side"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Car Comparison</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Home/">
                <!--Sửa đường link tổng quan-->
                <span>Tổng quan</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý
        </div>

        <!-- Nav Item - Xe -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <span>Xe</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Tùy chỉnh xe:</h6>
                    <a class="collapse-item" href="/Admin/Cars">Danh sách xe</a>
                    <a class="collapse-item" href="/Admin/Cars/Create">Thêm xe</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Bài viết -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <span>Bài viết</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Tùy chỉnh bài viết:</h6>
                    <a class="collapse-item" href="/Admin/Articles/">Danh sách các bài viết</a>
                    <a class="collapse-item" href="/Admin/Articles/Create">Thêm bài viết</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/Admin/User/">
                <span>Người dùng</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Contact/">
                <span>Liên hệ</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
}

<h1 class="h3 mb-2 text-gray-800">Chỉnh sửa bài viết</h1>

<div class="text-lg-right">
    @Html.ActionLink("Quay lại", "Index")
</div>

@using (Html.BeginForm("Edit", "Articles", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="content-edit">
            <div class="form-car-create">
                <div class="form-group">
                    <label>Mã Bài Viết</label>
                    @Html.EditorFor(model => model.id_article, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
                <div class="form-group">
                    <label>Tác giả</label>
                    <input class="form-control text-box single-line" id="user" name="user" type="text" value="@user.lname_user @user.fname_user" readonly="readonly" />
                </div>
            </div>
            <div class="form-car-create">
                <div class="form-group">
                    <label>Loại Bài Viết</label>
                    @Html.DropDownList("id_category", null, htmlAttributes: new { @class = "form-control", @onchange = "funCheck()" })
                    @Html.ValidationMessageFor(model => model.id_category, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @if (Model.id_category == "CaAr01")
                    {
                        <label id="label_link_video">Đường dẫn video</label>
                        @Html.EditorFor(model => model.linkvideo_article, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessage("linkError", new { @class = "text-danger", @style = "color: crimson;" })
                    }
                    <label id="label_link_video" style="display:none">Đường dẫn video</label>
                    @Html.EditorFor(model => model.linkvideo_article, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                    @Html.ValidationMessage("linkError", new { @class = "text-danger", @style = "color: crimson;" })
                </div>
            </div>
            <div class="form-group">
                <label>Ảnh</label>
                <input class="btn btn-block" type="file" onchange="funCheckA()" accept=".jpg" name="imageFile" id="imageFile" />
                <script type="text/javascript">
                    function funCheckA() {
                        var file = document.getElementById("imageFile").value;
                        var idxDot = file.lastIndexOf(".") + 1;
                        var extFile = file.substr(idxDot, file.length).toLowerCase();
                        if (extFile != "jpg") {
                            alert("Chỉ cho phép ảnh đuôi .jpg");
                            document.getElementById("imageFile").value = null;
                             $('#img-thumb').attr('src', "@Url.Content(Model.img_article)");
                        }
                        else {
                            var reader = new FileReader();

                            reader.onload = function (e) {
                                $('#img-thumb').attr('src', e.target.result);
                                $('#img-thumb').show();
                            }
                            reader.readAsDataURL(document.getElementById("imageFile").files[0]);
                        }
                    }
                </script>
                <br />
                <img class="img-thumbnail" width="70%" src="@Url.Content(Model.img_article)" alt="" id="img-thumb" />
                @Html.EditorFor(model => model.img_article, new { htmlAttributes = new { @class = "form-control", @style = "opacity:0;" } })
                <br />
                <label>Tiêu đề</label>
                @Html.EditorFor(model => model.title_article, new { htmlAttributes = new { @class = "form-control", @style = "width: 950px;" } })
                @Html.ValidationMessage("titleError", new { @class = "text-danger", @style = "color: crimson;" })
                <label>Nội dung</label>
                @Html.TextAreaFor(model => model.description_article, new { @id = "ckeDescription", @style = "width: 950px;" })
                @Html.ValidationMessage("desError", new { @class = "text-danger", @style = "color: crimson;" })
            </div>
        </div>

        <script type="text/javascript">
            function funCheck() {
                if ($('#id_category').val() == "CaAr01") {
                    $('#linkvideo_article').show();
                    $('#label_link_video').show();
                }
                else {
                    $('#linkvideo_article').hide();
                    $('#label_link_video').hide();
                }
            }
        </script>
        <div class="content-edit">
            <div class="form-group">
                @if (Model.state_article == "1")
                {
                    <input type="submit" name="action" value="Cập nhật" class="btn btn-primary" />
                    <input type="submit" name="action" value="Chuyển sang nháp" class="btn btn-secondary" />
                }
                else
                {
                    <input type="submit" name="action" value="Đăng bài" class="btn btn-primary" />
                    <input type="submit" name="action" value="Lưu nháp" class="btn btn-secondary" />
                }

                | @Html.ActionLink("Quay lại", "Index")
            </div>
        </div>
    </div>
}

<script src="~/Asset/Admin/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    //CKEDITOR.replace("ckeDescription");
    CKEDITOR.replace('ckeDescription', {
        extraPlugins: 'easyimage',
        removePlugins: 'image',
        cloudServices_tokenUrl: 'https://77303.cke-cs.com/token/dev/fe736dd2e1db1de1431a54ea2079387164e7fc18543091ee756610bf958f',
        cloudServices_uploadUrl: 'https://77303.cke-cs.com/easyimage/upload/'
    });
</script>