
@{

    var user = Session["user"] as CarComparison.Areas.Admin.Models.User_;
}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>LTW | Web So sánh Xe mới nhất</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/Asset/Client/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Asset/Client/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Asset/Client/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Asset/Client/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


    <script src="~/Asset/Client/js/custom.js"></script>

    @*MAIN CSS--!>*@
    <link rel="stylesheet" href="~/Asset/Client/css/style.css">
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    @*PRE LOADER*@
    <section class="preloader">
        <div class="spinner">
            <span class="spinner-rotate"></span>
        </div>
    </section>


    @*MENU*@
    <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>

                @*lOGO TEXT HERE*@
                <a href="/Client/" class="navbar-brand">Car Comparison</a>
            </div>

            @*MENU LINKS*@
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-nav-first">
                    @RenderSection("navbar", required: true)
                    @if (user != null)
                    {
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@user.lname_user @user.fname_user ▼</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/Account/AccountInformation">
                                    Thông tin tài khoản
                                </a>
                                <a class="dropdown-item" href="#">
                                    Cài đặt
                                </a>
                                @if (user.id_typeuser == "TyUs01")
                                {
                                    <a class="dropdown-item" href="/Admin/Home/">
                                        Trang admin
                                    </a>
                                }
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Account/Logout">
                                    Đăng xuất
                                </a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Đăng Nhập", "LoginView", "Account")</li>
                    }
                </ul>
            </div>
            <!-- Logout Modal-->
            @*<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Đăng xuất</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Chọn "Đăng xuất" bên dưới nếu bạn đã sẵn sàng kết thúc phiên hoạt động của mình.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                            <a class="btn btn-primary" href="/Account/Logout">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </section>
    @RenderBody()
    @*FOOTER*@
    <footer id="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Địa chỉ</h2>
                        </div>
                        <address>
                            <p>Số 1 Võ Văn Ngân <br>Thủ Đức, Việt Nam</p>
                        </address>

                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>

                        <div class="copyright-text">
                            <p>Copyright &copy; 2020 Company Name</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Thông tin liên hệ</h2>
                        </div>
                        <address>
                            <p>+1 333 4040 5566</p>
                            <p><a href="mailto:contact@company.com">contact@company.com</a></p>
                        </address>

                        <div class="footer_menu">
                            <h2>Links</h2>
                            <ul>
                                <li><a href="index.html">Trang chủ</a></li>
                                <li><a href="about-us.html">Thông tin</a></li>
                                <li><a href="terms.html">Terms & Conditions</a></li>
                                <li><a href="contact.html">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="footer-info newsletter-form">
                        <div class="section-title">
                            <h2>Nhận tin mới nhất</h2>
                        </div>
                        <div>
                            <div class="form-group">
                                <form action="#" method="get">
                                    <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email" required>
                                    <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me">
                                </form>
                                <span><sup>*</sup> Please note - we do not spam your email.</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    @*SCRIPTS*@
    <script src="~/Asset/Client/js/jquery.js"></script>
    <script src="~/Asset/Client/js/bootstrap.min.js"></script>
    <script src="~/Asset/Client/js/owl.carousel.min.js"></script>
    <script src="~/Asset/Client/js/smoothscroll.js"></script>
    <script src="~/Asset/Client/js/custom.js"></script>

</body>
</html>