@model CarComparison.Areas.Admin.Models.Car

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">Thêm xe</h1>

<div class="text-lg-right">
    @Html.ActionLink("Quay lại", "Index")
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-car">
        <div class="form-group">
            <label>Mã Số Xe</label>
            @*@Html.LabelFor(model => model.id_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.id_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Tổng Thể</label>
            @*@Html.LabelFor(model => model.overview_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.overview_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.overview_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Chiều Dài Cơ Sở</label>
            @*@Html.LabelFor(model => model.length_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.length_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.length_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Mâm Xe</label>
            @*@Html.LabelFor(model => model.wheels_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.wheels_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.wheels_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Thông Số Lốp</label>
            @*@Html.LabelFor(model => model.tireparameters_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.tireparameters_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tireparameters_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Cân Nặng</label>
            @*@Html.LabelFor(model => model.weight_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.weight_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.weight_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Dung Tích Động Cơ</label>
            @*@Html.LabelFor(model => model.capacity_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.capacity_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.capacity_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Mã Lực</label>
            @*@Html.LabelFor(model => model.horsepower_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.horsepower_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.horsepower_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Hộp Số</label>
            @*@Html.LabelFor(model => model.gear_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.gear_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gear_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Momen Xoắn</label>
            @*@Html.LabelFor(model => model.torque_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.torque_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.torque_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Hệ Dẫn Động</label>
            @*@Html.LabelFor(model => model.drivetype_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.drivetype_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.drivetype_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Hệ Thống Phanh Trước</label>
            @*@Html.LabelFor(model => model.frontbrakesystem_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.frontbrakesystem_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.frontbrakesystem_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Hệ Thống Phanh Sau</label>
            @*@Html.LabelFor(model => model.rearbrakesystem_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.rearbrakesystem_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rearbrakesystem_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Tốc Độ Tối Đa</label>
            @*@Html.LabelFor(model => model.maximumspeed_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.maximumspeed_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.maximumspeed_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Thời gian tăng tốc từ 0-100km/h</label>
            @*@Html.LabelFor(model => model.accelerationtime_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.accelerationtime_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.accelerationtime_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Dung Tích Bình Xăng</label>
            @*@Html.LabelFor(model => model.capacitytank_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.capacitytank_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.capacitytank_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Số Ghế</label>
            @*@Html.LabelFor(model => model.numberseat_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.numberseat_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numberseat_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Loại Ghế</label>
            @*@Html.LabelFor(model => model.seat_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.seat_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.seat_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Điều Hòa</label>
            @*@Html.LabelFor(model => model.airconditioner_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.airconditioner_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.airconditioner_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Cửa Sổ Trời</label>
            @*@Html.LabelFor(model => model.sunroof_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.sunroof_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sunroof_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Giá Xe</label>
            @*@Html.LabelFor(model => model.charge_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.charge_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.charge_car, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Phiên bản</label>
            @*@Html.LabelFor(model => model.id_version, "id_version", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("id_version", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_version, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Ảnh</label>
            @*@Html.LabelFor(model => model.img_car, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.img_car, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.img_car, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-car">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm mới" class="btn btn-primary" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    </div>

</div>
}

