@model CarComparison.Areas.Admin.Models.Car

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section sidebar{
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/Home">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-car-side"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Car Comparison</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Home/">
                <!--Sửa đường link tổng quan-->
                <span>Tổng quan</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý
        </div>

        <!-- Nav Item - Xe -->
        <li class="nav-item active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <span>Xe</span>
            </a>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Tùy chỉnh xe:</h6>
                    <a class="collapse-item" href="/Admin/Cars">Danh sách xe</a>
                    <a class="collapse-item active" href="/Admin/Cars/Create">Thêm xe</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Bài viết -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <span>Bài viết</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Tùy chỉnh bài viết:</h6>
                    <a class="collapse-item" href="/Admin/Articles/">Danh sách các bài viết</a>
                    <a class="collapse-item" href="/Admin/Articles/Create">Thêm bài viết</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/Admin/User/">
                <span>Người dùng</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Contacts">
                <span>Liên hệ</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
}

<h1 class="h3 mb-2 text-gray-800">Thêm xe</h1>

<div class="text-lg-right">
    @Html.ActionLink("Quay lại", "Index")
</div>

@using (Html.BeginForm("Create", "Cars", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="content-edit">
            <div class="form-car-create">
                <div class="form-group">
                    <label>Mã Số Xe</label>
                    @Html.EditorFor(model => model.id_car, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.id_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Hãng xe</label>
                    @Html.EditorFor(model => model.Version.Model.Automaker.name_automaker, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessage("au", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Dòng xe</label>
                    @Html.EditorFor(model => model.Version.Model.name_model, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessage("mo", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Phiên bản</label>
                    @Html.EditorFor(model => model.Version.name_version, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessage("ver", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Tổng Thể</label>
                    @Html.EditorFor(model => model.overview_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.overview_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Chiều Dài Cơ Sở</label>
                    @Html.EditorFor(model => model.length_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.length_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Mâm Xe</label>
                    @Html.EditorFor(model => model.wheels_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.wheels_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Thông Số Lốp</label>
                    @Html.EditorFor(model => model.tireparameters_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tireparameters_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Cân Nặng</label>
                    @Html.EditorFor(model => model.weight_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.weight_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Dung Tích Động Cơ</label>
                    @Html.EditorFor(model => model.capacity_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.capacity_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Mã Lực</label>
                    @Html.EditorFor(model => model.horsepower_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.horsepower_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Hộp Số</label>
                    @Html.EditorFor(model => model.gear_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.gear_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Momen Xoắn</label>
                    @Html.EditorFor(model => model.torque_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.torque_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Hệ Dẫn Động</label>
                    @Html.EditorFor(model => model.drivetype_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.drivetype_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Hệ Thống Phanh Trước</label>
                    @Html.EditorFor(model => model.frontbrakesystem_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.frontbrakesystem_car, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-car-create">
                <div class="form-group">
                    <label>Hệ Thống Phanh Sau</label>
                    @Html.EditorFor(model => model.rearbrakesystem_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rearbrakesystem_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Tốc Độ Tối Đa</label>
                    @Html.EditorFor(model => model.maximumspeed_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.maximumspeed_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Thời gian tăng tốc từ 0-100km/h</label>
                    @Html.EditorFor(model => model.accelerationtime_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.accelerationtime_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Dung Tích Bình Xăng</label>
                    @Html.EditorFor(model => model.capacitytank_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.capacitytank_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Số Ghế</label>
                    @Html.EditorFor(model => model.numberseat_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.numberseat_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Loại Ghế</label>
                    @Html.EditorFor(model => model.seat_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.seat_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Điều Hòa</label>
                    @Html.EditorFor(model => model.airconditioner_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.airconditioner_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Cửa Sổ Trời</label>
                    @Html.EditorFor(model => model.sunroof_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.sunroof_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Giá Xe</label>
                    @Html.EditorFor(model => model.charge_car, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.charge_car, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Ảnh</label>
                    <input class="btn btn-block" type="file" onchange="funCheck()" accept=".jpg" name="imageFile" id="imageFile" required />
                    <script type="text/javascript">
                        function funCheck() {
                            var file = document.getElementById("imageFile").value;
                            var idxDot = file.lastIndexOf(".") + 1;
                            var extFile = file.substr(idxDot, file.length).toLowerCase();
                            if (extFile != "jpg") {
                                alert("Chỉ cho phép ảnh đuôi .jpg");
                                document.getElementById("imageFile").value = null;
                            }
                            else {
                                var reader = new FileReader();

                                reader.onload = function (e) {
                                    $('#img-thumb').attr('src', e.target.result);
                                    $('#img-thumb').attr('style', "opacity:100%");
                                }
                                reader.readAsDataURL(document.getElementById("imageFile").files[0]);
                            }
                        }
                    </script>
                    <br />
                    <img class="img-thumbnail" width="70%" src="" alt="" id="img-thumb" style="opacity:0" />
                </div>
            </div>
        </div>
        <div class="content-edit">
            <div class="form-group">
                <input type="submit" value="Thêm mới" class="btn btn-primary" /> |
                @Html.ActionLink("Quay lại", "Index")
            </div>
        </div>
    </div>
}

