@model CarComparison.Areas.Admin.Models.Car

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section sidebar{
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/Home">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-car-side"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Car Comparison</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Home/">
                <!--Sửa đường link tổng quan-->
                <span>Tổng quan</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý
        </div>

        <!-- Nav Item - Xe -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <span>Xe</span>
            </a>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Tùy chỉnh xe:</h6>
                    <a class="collapse-item active" href="/Admin/Cars">Danh sách xe</a> <!--Sửa đường link-->
                    <a class="collapse-item" href="/Admin/Cars/Create">Thêm xe</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Bài viết -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <span>Bài viết</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Tùy chỉnh bài viết:</h6>
                    <a class="collapse-item" href="#">Danh sách các bài viết</a> <!--Sửa đường link-->
                    <a class="collapse-item" href="#">Thêm bài đánh giá</a>
                    <a class="collapse-item" href="#">Thêm video</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Tài khoản
        </div>

        <!-- Nav Item - Nhân viên -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <span>Nhân viên</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Tùy chỉnh nhân viên:</h6>
                    <a class="collapse-item" href="#">Danh sách nhân viên</a> <!--Sửa đường link-->
                    <a class="collapse-item" href="#">Thêm nhân viên</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Người dùng -->
        <li class="nav-item">
            <a class="nav-link" href="#">
                <!--Sửa đường link-->
                <span>Người dùng</span>
            </a>
        </li>

        <!-- Nav Item - Loại tài khoản -->
        <li class="nav-item">
            <a class="nav-link" href="/Admin/TypeUsers">
                <!--Sửa đường link-->
                <span>Loại tài khoản</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
}

<h1 class="h3 mb-2 text-gray-800">Xóa xe</h1>
<div>
    @Html.DisplayFor(model => model.Version.Model.Automaker.name_automaker)  @Html.DisplayFor(model => model.Version.Model.name_model) @Html.DisplayFor(model => model.Version.name_version)
</div>
<div>
    <hr />
    <div class="content-edit">
        <dl class="form-car">
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Ảnh
                    </dt>

                    <dd>
                        <img class="img-thumbnail" src="@Url.Content(@Model.img_car)" alt="" />
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Tổng quan
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.overview_car)
                    </dd>
                </div>

            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Chiều Dài Cơ Sở
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.length_car)
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Mâm Xe
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.wheels_car)
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Thông Số Lốp
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tireparameters_car)
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Trọng Lượng
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.weight_car)
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Dung Tích Động Cơ
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.capacity_car)
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Mã Lực
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.horsepower_car)
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Hộp Số
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.gear_car)
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Momen Xoắn
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.torque_car)
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Hệ Dẫn Động
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.drivetype_car)

                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Hệ Thống Thắng Trước
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.frontbrakesystem_car)
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Hệ Thống Thắng Sau
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.rearbrakesystem_car)
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Tốc Độ Tối Đa
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.maximumspeed_car)
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Tăng tốc từ 0-100km/h
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.accelerationtime_car)
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Dung Tích Bình Xăng
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.capacitytank_car)
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Số Ghế
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.numberseat_car)
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Loại Ghế
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.seat_car)
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Hệ Thống Điều Hòa
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.airconditioner_car)
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Cửa Sổ Trời
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.sunroof_car)
                    </dd>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-car">
                    <dt>
                        Giá Xe
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.charge_car)
                    </dd>
                </div>
            </div>
        </dl>
    </div>
    <div class="content-edit">
        <a href="#" data-toggle="modal" data-target="#confirmDelete">
            <input type="button" class="btn btn-primary" value="Xóa" />
        </a>

        <a href="/Admin/Cars" style="margin-left:5px;">
            <input type="button" class="btn btn-secondary" value="Quay lại" />
        </a>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Chọn "Xóa" bên dưới nếu bạn đã chắc chắn xóa xe này.</div>
                <div class="modal-footer">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            <input type="submit" value="Xóa" class="btn btn-primary" id="confirmDelete" />
                            <input class="btn btn-secondary" type="button" data-dismiss="modal" aria-label="Close"
                                   value="Hủy" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
